<p style="font-size: 15px;">
    Вы оставили заявку на восстановление пароля на сайте <%= sitename -%>, <%= username -%>.<br/>
    Для восстановления пароля проследуйте по ссылке: <a href="<%= targetUrl -%>"><%= targetUrl -%></a>.
</p>
