{
    background : #42435a;
    background : #ed1c24;
    background : #f26522;
    background : #fff200;
    background : #39b54a;
    background : #00aeef;
    background : #92278f;
    background : #ec008c;
    background : #a67c52;
    background : #cccccc;
    background : #1ecfd5;
    background : #fec5f0;
    background : #d1c5fe;
    background : #c5f1fe;
    background : #c5fed1;
    background : #fed1c5;

    background : #ed1c24;
    background : #ff8400;
    background : #fff200;
    background : #39b54a;
    background : #00aeef;
    background : #92278f;
    background : #ec008c;
    background : #ca9764;
    background : #afafaf;
    background : #1ecfd5;
    background : #ff60d8;
    background : #8e70fe;
    background : #61dbff;
    background : #51ff76;
    background : #ff7e5c;
}