<p style="font-size: 15px;">
    Рады зарегистрировать вас на сайте <%= sitename -%>, <%= username -%>.<br/>
    Для подтверждения вашего email проследуйте по ссылке: <a href="<%= targetUrl -%>"><%= targetUrl -%></a>.<br/>
    Вас ждут победы в битвах!
</p>
