
<div class="page-data" style="display: none;" data-page-info='{"title": "История игры программирования Gridwars"}'></div>
<div class="back-block">
    <a href="/<%= language -%>/article">
        &lt Статьи
    </a>
</div>
<h1>
    История игры Gridwars
</h1>

<p>
    Соревнование, которое должно было продвинуть продукт под названием CxC,
    язык параллельного программирования, было впервые анонсировано в ноябре 2002 компанией Engineered Intelligence (EI).
    В соревновании участвовало множество алгоритмов, сражающихся на поле боя — сетке. Все роботы стартуют в различных
    частях сетки и стараются захватить все поле, делая выстрелы в клетки, что определяет искусственный интеллект робота.
</p>

<p>
    В дальнейшем, было проведено еще несколько соревнований.
</p>

<p>
    Основательная <a href="https://en.wikipedia.org/wiki/Gridwars">статья</a> Википедии о Gridwars.
</p>