<div>
    <div class="page-data" style="display: none;"></div>
    <% if (emailAlreadyVerified) { %>
        Ваша учетная запись уже была подтверждена.
    <% } else { -%>
        <% if (isError) { -%>
            Ваша учетная запись не подтверждена.
            Произошла ошибка.
        <% } else { -%>
            Ваша учетная запись подтверждена.
        <% } -%>
    <% } -%>
</div>