
<h3>Примеры бойцов на Github:</h3>
<ul class="samples-list">
<li>
    <a href="https://github.com/PavelOfficial/gridwars-bots/blob/master/wind.js"
       target="_blank">
        wind
    </a>
</li>
<li>
    <a href="https://github.com/PavelOfficial/gridwars-bots/blob/master/tinyMind.js"
       target="_blank">
        tinyMind
    </a>
</li>
<li>
    <a href="https://github.com/PavelOfficial/gridwars-bots/blob/master/holder.js"
       target="_blank">
        holder
    </a>
</li>
<li>
    <a href="https://github.com/PavelOfficial/gridwars-bots/blob/master/fighter.js"
       target="_blank">
        fighter
    </a>
</li>
<li>
    <a href="https://github.com/PavelOfficial/gridwars-bots/blob/master/cycletron.js"
       target="_blank">
        cycletron
    </a>
</li>
<li>
    <a href="https://github.com/PavelOfficial/gridwars-bots/blob/master/chaos.js"
       target="_blank">
        chaos
    </a>
</li>
<li>
    <a href="https://github.com/Combination/GridWarsPlayer"
       target="_blank">
        GridWarsPlayer
    </a>
</li>

</ul>