<div class="page-data" style="display: none;" data-page-info='{"title": "Войти"}'></div>
<h1>Авторизация</h1>
<form class="form-login" name="form-login">
    <label>
        <span>Имя</span>
        <input type="text" name="username" />
    </label>
    <div class="form-login__username-error error-hint">
        <div class="form-login__username-error-required">
            Обязательно для заполнения.
        </div>
    </div>
    <label>
        <span>Пароль</span>
        <input type="password" name="password" />
    </label>
    <div class="form-login__password-error error-hint">
        <div class="form-login__password-error-required">
            Обязательно для заполнения.
        </div>
    </div>
    <button type="submit">
        Войти
    </button>
    <div class="form-login__form-error error-hint">
        <div class="form-login__form-error-nocontent">
            Нет соединения с интернетом. Авторизация неудачна.
        </div>
        <div class="form-login__form-error-error">
            Ошибка во время отправки запроса. Авторизация неудачна.
        </div>
        <div class="form-login__form-error-abort">
            Соединение было прервано. Авторизация неудачна.
        </div>
        <div class="form-login__form-error-parsererror">
            Ошибка во время разбора ответа сервера.
        </div>
        <div class="form-login__form-error-timeout">
            Истекло время ожидания ответа сервера.
        </div>
        <div class="form-login__form-error-server">
            Произошла ошибка во время авторизации.
        </div>
        <div class="form-login__form-error-forbidden">
            В авторизации отказано.
        </div>
    </div>
    <div class="form-login__success-message success-hint" style="display : none;">
        Авторизация успешна. Через мгновение вы будите, отправлены на главную страницу.
    </div>
    <a class="additional-link" href="/<%= language -%>/password-recovery-order">Восстановление пароля</a>
</form>

<script src="/lib/fieldLengths.js" type="text/javascript"></script>
<script src="/lib/validateRegulars.js" type="text/javascript"></script>
<script type="text/javascript" src="/js/form-login.js"></script>

