
<div class="page-data" style="display: none;" data-page-info='{"title": "Запрос на восстановление пароля"}'></div>

<% if (user) { %>

Вы уже авторизованы.

<% } else { %>

<form class="form-password-recovery-order" method="post" action="/password-recovery-order" name="form-password-recovery-order">
    <h1>Восстановления пароля</h1>
    <p>
        Отправте свой e-mail и на ваш ящик поступит письмо со ссылкой для восстановления пароля.<br />
        Она будет действительна в течение <%= ttl.passwordRecoveryHour -%> часов.
    </p>
    <label>
        <span>E-mail</span>
        <input type="text" name="email" />
    </label>
    <div class="form-password-recovery-order__email-error error-hint">
        <div class="form-password-recovery-order__email-error-required">
            Обязательно для заполнения.
        </div>
        <div class="form-password-recovery-order__email-error-no-such-user">
            Нет пользователя с таким email.
        </div>
        <div class="form-password-recovery-order__email-error-not-valid">
            E-mail не валиден.
        </div>
        <div class="form-password-recovery-order__email-error-too-long">
            Длина e-mail должна быть не более <%= fieldLengths.email.max -%> символов.
        </div>
    </div>
    <button type="submit">
        Отправить письмо
    </button>
    <div class="form-password-recovery-order__form-error error-hint">
        <div class="form-password-recovery-order__form-error-nocontent">
            Нет соединения с интернетом. Запрос неудачен.
        </div>
        <div class="form-password-recovery-order__form-error-error">
            Ошибка во время отправки запроса. Запрос неудачен.
        </div>
        <div class="form-password-recovery-order__form-error-abort">
            Соединение было прервано. Запрос неудачен.
        </div>
        <div class="form-password-recovery-order__form-error-parsererror">
            Ошибка во время разбора ответа сервера.
        </div>
        <div class="form-password-recovery-order__form-error-timeout">
            Истекло время ожидания ответа сервера.
        </div>
        <div class="form-password-recovery-order__form-error-server">
            Произошла ошибка во время заявки.
        </div>
        <div class="form-password-recovery-order__form-error-forbidden">
            У вас нет прав.
        </div>
    </div>
    <div class="form-password-recovery-order__success-message success-hint" style="display:none;">
        Запрос на восстановление пароля прошёл успешно.<br />
        На ваш e-mail выслано письмо с инструкциями.<br />
        Через мгновение вы будите, переправлены на главную страницу.
    </div>
</form>

<script src="/lib/fieldLengths.js" type="text/javascript"></script>
<script src="/lib/validateRegulars.js" type="text/javascript"></script>
<script src="/js/from-password-recovery-order.js" type="text/javascript"></script>

<% } %>